<%= render 'layouts/header_slide' %>
  <!--Main layout-->
  <main>
    <div class="container">
      <!--Section: Main features & Quick Start-->
      <section class="mt-5 wow fadeIn">

        <h3 class="h3 text-center mb-5"><i class="fas fa-cogs"></i> Technology</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-12 px-4">

            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-gem fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Ruby <%=RUBY_VERSION%></h5>
              </div>
            </div>

            <div style="height:30px"></div>

            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-registered fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Ruby on Rails 6.0.1</h5>
              </div>
            </div>

            <div style="height:30px"></div>

            <div class="row">
              <div class="col-1 mr-3">
                <i class="fab fa-bootstrap fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Bootstrap 4</h5>
                <p class="grey-text">WEeb Page Design</p>
              </div>
            </div>

            <div style="height:30px"></div>

            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-spinner fa-2x black-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">CircleCI</h5>
                <p class="grey-text">Auto Test, Auto Static Code Analysis</p>
              </div>
            </div>

            <div style="height:30px"></div>

            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-hospital-symbol fa-2x purple-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Heroku</h5>
                <p class="grey-text">Production Environment</p>
              </div>
            </div>

          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <%= image_tag "tool.png", class: "img-fluid z-depth-1-half"%>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <h3 class="h3 mb-3 text-center"><i class="fas fa-tools"></i> Tools</h3>

            <h4><i class="fas fa-quidditch light-blue-text"></i> VSCode</h4>
            <p>Text Editor</p>

            <hr>

            <h4><i class="fab fa-git-alt orange-text"></i> Git</h4>
            <p>Version Controll System</p>

            <hr>

            <h4><i class="fab fa-slack green-text"></i> Slack</h4>
            <p>CircleCI notification</p>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </section>
      <!--Section: Main info-->

      <hr class="mb-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">...and gems</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-robot fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Rubocop</h5>
                <p class="grey-text mt-2">Static Code Analysis
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-tablet-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">devise</h5>
                <p class="grey-text mt-2">Login Mechanism
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
              <i class="fas fa-list-ol fa-2x mb-1 indigo-text"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">will_paginate</h5>
                <p class="grey-text mt-2">Pagination
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-image fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">image_processing</h5>
                <p class="grey-text mt-2">Image Processing
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->
