<%= render 'layouts/header_slide' %>
<div class="container">
  <section class="mt-5 wow fadeIn">
    <h3 class="h3 text-center mb-5"><i class="fas fa-home"></i> HOME</h3>
    <div class="row wow fadeIn">
      <div class="col-md-12 px-4 text-center">
        あなたのロードマップを共有することができ、<br>
        あなた以外のロードマップを共有してもらうことができます。
      </div>
    </div>
  </section>

  <hr class="my-5">

</div>