<% @title = "All users" %>

<div class="container mt-5">
  <h3 class="h3 text-center mb-5"><i class="fas fa-users light-blue-text"></i> <%= @title %></h3>


  <ul class="list-group mt-3">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.name, user_show_path(user), class: "text-dark text-underline" %>
        <% if current_user.admin?%>
          <%= link_to user_delete_path(user), data: { confirm: "Delete #{user.name}\nAre you sure?" }, method: :delete, class: "text-dark" do %>
            <i class="far fa-times-circle text-muted"></i>Delete
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="apple_pagination">
    <%= will_paginate @users%>
  </div>

</div>