    <ul class="list-group mt-3">
      <% @roadmap_headers.each do |r| %>
        <li class="list-group-item">
          <div>
            <%= link_to r.title, roadmap_show_path(r.id), class: "text-dark"%>
          </div>
          <div class="text-muted">
            by <%= link_to r.name, user_show_path(r.user_id), class: "text-muted" %>

            <% if user_signed_in? && current_user.admin? %>
              <%= link_to roadmap_destroy_path(r), data: { confirm: "Delete #{r.title}\nAre you sure?" }, method: :delete, class: "text-dark" do %>
                <i class="far fa-times-circle text-muted"></i>Delete
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>