<% @title = "Edit Roadmap" %>

<div class="container" style="padding-top:7rem">
  <h3 class="h3 text-center mb-5"><i class="far fa-map light-blue-text"></i> <%= @title %></h3>

  <%= render 'roadmap_headers/form_roadmap' %>

  <br><br>

  <%= link_to "Delete Roadmap", roadmap_destroy_path(@roadmap_post.id), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-blue-grey waves-effect" %>
</div>
