<% @title = "All Roadmaps" %>

<div class="container" style="padding-top:7rem">
  <h3 class="h3 text-center mb-5"><i class="far fa-map light-blue-text"></i> <%= @title %></h3>
  <%= render 'roadmap_headers/roadmaps' %>
</div>