  <!-- data-ride="carousel" -->
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">
          <!--Video source-->
          <video class="video-intro" autoplay loop muted>
            <source src="https://assets.mixkit.co/videos/99555/99555-720.mp4" type="video/mp4" />
          </video>
          <%= render 'layouts/header_slide_content' %>
        </div>
      </div>
      <!--/First slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->